@import "tailwindcss";

#root {
  width: 100vw;
  height: 100vh;

}

body {
  overflow: hidden;
}

.btn{
  @apply bg-black flex items-center text-white px-3 h-8 rounded-lg text-[12px] cursor-pointer
}